## 관리종목과 상장폐지종목 비교하기

In [397]:
import pandas as pd

In [398]:
# 회계년도컬럼, 년도만 뽑아서 int화
def change_year(x):
    return int(x[:4])

In [399]:
# 외국계 기업 제거
def func_isnt_fcompany(x):
    if str(x)[:1] == '9':
        return False
    else:
        return True

In [400]:
상폐_df = pd.read_csv('./y/상장폐지현황.csv')

In [401]:
관리_df = pd.read_csv('./y/관리종목.csv')

In [402]:
상폐_df["폐지일자"] = 상폐_df["폐지일자"].map(change_year) # 년도만 표시
관리_df["시간"] = 관리_df["시간"].map(change_year)

In [403]:
상폐_df = 상폐_df[상폐_df["종목코드"].apply(func_isnt_fcompany)] # 외국계기업제거
관리_df = 관리_df[관리_df["종목코드"].apply(func_isnt_fcompany)]

In [404]:
상폐_df

,번호,회사명,종목코드,폐지일자,폐지사유,비고
0,660,케이비제20호스팩,342550,2022,피흡수합병(스팩소멸합병),NaN
1,659,오션스톤,329020,2022,지정자문인 선임계약 해지 후 30일 이내 미체결(2022.12.13 限),NaN
2,658,이베스트스팩5호,349720,2022,상장예비심사 청구서 미제출로 관리종목 지정 후 1개월 이내 동 사유 미해소,NaN
3,657,하나금융15호스팩,341160,2022,피흡수합병(스팩소멸합병),NaN
4,656,켐온,217600,2022,피흡수합병,NaN
...,...,...,...,...,...,...
654,6,에스브이에이치,46240,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,NaN
655,5,세실,84450,2011,감사의견거절(범위제한 및 계속기업 존속 불확실성),NaN
656,4,아이피에스,51820,2011,피흡수합병,NaN
657,3,네이쳐글로벌,88020,2011,"기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하...",NaN
659,1,동북아8호,82110,2011,종목별 상장폐지신청,NaN

In [405]:
상폐_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 610 entries, 0 to 659
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      610 non-null    int64
 1   회사명     610 non-null    object
 2   종목코드    610 non-null    int64
 3   폐지일자    610 non-null    int64
 4   폐지사유    610 non-null    object
 5   비고      68 non-null     object
dtypes: int64(3), object(3)
memory usage: 33.4+ KB

In [406]:
관리_df

,848,시간,회사명,종목코드,공시제목,제출인
0,279,2022,소프트센,32680,관리종목지정(종류주식의 상장주식수 요건 미달),코스닥시장본부
1,278,2022,KBSTAR 200건설,287300,ETF 관리종목지정 해제,유가증권시장본부
2,277,2022,좋은사람들,33340,관리종목지정사유일부해제(회생절차 개시신청 사유 해소 ),코스닥시장본부
3,276,2022,현대비앤지스틸,4560,관리종목지정(현대비앤지스틸1우선주),유가증권시장본부
4,275,2022,흥국화재,540,관리종목지정(흥국화재해상보험2우선주(신형)),유가증권시장본부
...,...,...,...,...,...,...
2583,5,2011,선팩테크,54010,관리종목지정(불성실공시법인지정),코스닥시장본부
2584,4,2011,디에이치패션,45260,관리종목지정사유일부해제(파산 신청 사유 해소),코스닥시장본부
2585,3,2011,대한해운,5880,관리종목지정,유가증권시장본부
2586,2,2011,대양글로벌,40180,관리종목지정사유일부해제,코스닥시장본부
2587,1,2011,에스브이에이치,46240,관리종목지정사유추가,코스닥시장본부

In [407]:
관리_df = 관리_df.rename(columns={'시간': '폐지일자','공시제목':'관리대상'})

In [408]:
관리_df = 관리_df.drop(['848', '회사명'], axis=1)

In [409]:
상폐_df = 상폐_df.drop(['번호','비고'], axis=1)

In [410]:
상폐_관리df = pd.merge(상폐_df,관리_df,on=['종목코드','폐지일자'], how='left')

In [411]:
상폐_관리df

,회사명,종목코드,폐지일자,폐지사유,관리대상,제출인
0,케이비제20호스팩,342550,2022,피흡수합병(스팩소멸합병),NaN,NaN
1,오션스톤,329020,2022,지정자문인 선임계약 해지 후 30일 이내 미체결(2022.12.13 限),NaN,NaN
2,이베스트스팩5호,349720,2022,상장예비심사 청구서 미제출로 관리종목 지정 후 1개월 이내 동 사유 미해소,관리종목지정사유추가(상장폐지 사유발생),코스닥시장본부
3,이베스트스팩5호,349720,2022,상장예비심사 청구서 미제출로 관리종목 지정 후 1개월 이내 동 사유 미해소,관리종목지정(SPAC 상장예비심사청구서 미제출 등),코스닥시장본부
4,하나금융15호스팩,341160,2022,피흡수합병(스팩소멸합병),NaN,NaN
...,...,...,...,...,...,...
875,에스브이에이치,46240,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,관리종목지정사유추가,코스닥시장본부
876,세실,84450,2011,감사의견거절(범위제한 및 계속기업 존속 불확실성),NaN,NaN
877,아이피에스,51820,2011,피흡수합병,NaN,NaN
878,네이쳐글로벌,88020,2011,"기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하...",NaN,NaN
879,동북아8호,82110,2011,종목별 상장폐지신청,NaN,NaN

In [412]:
상폐_관리df.loc[상폐_관리df['회사명'] == '한진해운']

      회사명    종목코드  폐지일자      폐지사유        관리대상       제출인
381  한진해운  117930  2017  해산 사유 발생  관리종목지정사유변경  유가증권시장본부

In [413]:
# 상폐이고 관리대상열이 공백이나 결측치가 아닌 경우에 해당하는 데이터를 조회
상폐_관리df.loc[(상폐_관리df['폐지사유'] == '피흡수합병') & (상폐_관리df['관리대상'].notnull()), :]

,회사명,종목코드,폐지일자,폐지사유,관리대상,제출인
754,알덱스,25970,2011,피흡수합병,[정정]관리종목지정,코스닥시장본부
755,알덱스,25970,2011,피흡수합병,관리종목지정[정],코스닥시장본부
756,더체인지,54120,2011,피흡수합병,관리종목지정(최근3사업연도중 2사업연도 자기자본 50%초과 법인세비용차감전계속사업손...,코스닥시장본부

In [414]:
# 상폐이고 관리대상 열이 공백이나 결측치가 아닌 경우에 해당하는 데이터를 조회
상폐_관리df.loc[(상폐_관리df['폐지사유'] == '해산 사유 발생') & (상폐_관리df['관리대상'].notnull()), :]

      회사명    종목코드  폐지일자      폐지사유        관리대상       제출인
381  한진해운  117930  2017  해산 사유 발생  관리종목지정사유변경  유가증권시장본부

In [415]:
상폐_관리df.to_csv('상폐_관리.csv',encoding="utf-8-sig")

## 자발적 폐지기업은 제외하기

In [416]:
df = pd.read_csv('./y/상장폐지현황.csv')

In [417]:
# 날짜재구성
df["폐지일자"] = df["폐지일자"].map(change_year)

In [418]:
# 외국계기업제외
df = df[df["종목코드"].map(func_isnt_fcompany)]

In [419]:
#컬럼명 변경
df = df.rename(columns={'폐지일자':'회계년도','종목코드':'거래소코드'})

In [420]:
#회사명 스팩인것 제외
df = df[~df['회사명'].str.contains('스팩')]

In [421]:
# 일정 문자가 들어간 행 삭제
df = df[~df['폐지사유'].str.contains('코스닥시장 상장')]
df = df[~df['폐지사유'].str.contains('코스닥시장 이전상장')]
df = df[~df['폐지사유'].str.contains('유가증권시장 상장')]
df = df[~df['폐지사유'].str.contains('상장폐지 신청')]
df = df[~df['폐지사유'].str.contains('상장폐지신청')]
df = df[~df['폐지사유'].str.contains('신청에 의한 상장폐지')]
df = df[~df['폐지사유'].str.contains('종목별 상장폐지신청')]
df = df[~df['폐지사유'].str.contains('완전자회사')]
df = df[~df['폐지사유'].str.contains('존속기간 만료')]
df = df[~df['폐지사유'].str.contains('SPAC 상장예비심사청구서 미제출')]
df = df[~df['폐지사유'].str.contains('포괄적 주식교환에 따른 상장폐지 신청')]

In [422]:
# 피흡수합병사유 중 과거 관리종목이 된것 제외하고 자발적으로 봄 
df = df[~(df['폐지사유'].str.contains('피흡수합병')) | (df['회사명'].isin(['알덱스','더체인지']))]

In [423]:
# 한진해운을 제외하고 해산 사유 발생은 피흡수합병과 동일하다는것을 확인
df = df[(df['폐지사유'] != '해산 사유 발생') | (df['회사명'].isin(['한진해운']))]

In [424]:
# 스팩주
df = df[~df['폐지사유'].str.contains('상장예비심사 청구서 미제출로 관리종목 지정 후 1개월 이내 동 사유 미해소')]

In [425]:
# 코넥스만 있는거 확인
df = df[~df['폐지사유'].str.contains('지정자문인')]

In [426]:
df

,번호,회사명,거래소코드,회계년도,폐지사유,비고
9,651,참존글로벌,158310,2022,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지기준에 해당한다고 결정,NaN
10,650,레드로버,60300,2022,기업의 계속성 및 경영의 투명성 등을 종합적을 고려하여 상장폐지기준에 해당한다고 결정,NaN
13,647,뉴로스,126870,2022,감사의견 거절(감사범위 제한 및 계속기업 존속능력 불확실성),NaN
17,643,테라셈,182690,2022,감사의견 거절(감사범위 제한),NaN
21,639,매직마이크로,127160,2022,감사의견 거절(감사범위 제한 및 계속기업 존속능력 불확실성),NaN
...,...,...,...,...,...,...
647,13,경윤하이드로,19120,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,NaN
652,8,핸디소프트,32380,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,NaN
654,6,에스브이에이치,46240,2011,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정,NaN
655,5,세실,84450,2011,감사의견거절(범위제한 및 계속기업 존속 불확실성),NaN
657,3,네이쳐글로벌,88020,2011,"기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하...",NaN

## 회생기업 포함

In [427]:
회생_df = pd.read_csv('./y/회생승인기업.csv')

In [428]:
회생_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      270 non-null    int64
 1   시간      270 non-null    object
 2   회사명     270 non-null    object
 3   종목코드    270 non-null    int64
 4   공시제목    270 non-null    object
 5   제출인     270 non-null    object
dtypes: int64(2), object(4)
memory usage: 12.8+ KB

In [429]:
#결측치제거하기
회생_df.dropna(inplace=True)

In [430]:
# 날짜재구성
회생_df["시간"] = 회생_df["시간"].str[:4]

In [431]:
# 외국계기업제외
회생_df = 회생_df[회생_df["종목코드"].map(func_isnt_fcompany)]

In [432]:
회생_df

      번호    시간    회사명    종목코드                     공시제목       제출인
0      1  2011   대한해운    5880                 회생절차개시결정      대한해운
1      2  2011   대한해운    5880    매매거래정지및정지해제(회생절차개시결정)  유가증권시장본부
2      3  2011    씨모텍   81090                 회생절차개시결정       씨모텍
3      4  2011   에피밸리   68630                 회생절차개시결정      에피밸리
4      5  2011   에피밸리   68630     주권매매거래정지해제(회생절차개시결정)   코스닥시장본부
..   ...   ...    ...     ...                      ...       ...
265   99  2022  엘아이에스  138690                 회생절차개시결정     엘아이에스
266  101  2022  지나인제약   78650                 회생절차개시결정     지나인제약
267  102  2022  지나인제약   78650  주권매매거래정지기간변경(회생절차 개시결정)   코스닥시장본부
268  103  2022  코원플레이   56000             [정정]회생절차개시결정     코원플레이
269  104  2022    베스파  299910          [정정]회생절차개시결정[정]       베스파

[253 rows x 6 columns]

In [433]:
# 중목코드가 중복되는것 삭제 (최초시기만 남기기)
회생_df = 회생_df.drop_duplicates(['종목코드'])

In [434]:
회생_df = 회생_df.rename(columns={'시간':'회계년도','종목코드':'거래소코드'})

In [435]:
회생_df = 회생_df.drop(['제출인'], axis=1)

In [436]:
# 열순서 바꾸기
회생_df = 회생_df.loc[:, ['번호', '회사명', '거래소코드', '회계년도', '공시제목']]

In [437]:
회생_df

      번호      회사명   거래소코드  회계년도                     공시제목
0      1     대한해운    5880  2011                 회생절차개시결정
2      3      씨모텍   81090  2011                 회생절차개시결정
3      4     에피밸리   68630  2011                 회생절차개시결정
5      6     큐앤에스   52880  2011                 회생절차개시결정
7      8     동양건설    5900  2011                 회생절차개시결정
..   ...      ...     ...   ...                      ...
255   90   매직마이크로  127160  2022                 회생절차개시결정
260   95    코원플레이   56000  2022              회생절차개시결정[정]
262   97  비엔디생활건강  215050  2022                회생절차 개시결정
264  100    엘아이에스  138690  2022  주권매매거래정지기간변경(회생절차 개시결정)
266  101    지나인제약   78650  2022                 회생절차개시결정

[114 rows x 5 columns]

In [438]:
df = df.rename(columns={'폐지사유':'공시제목'})

In [439]:
df = df.drop(['비고'],axis=1)

In [440]:
# 상폐된 년도에는 재무공시가 안됨으로 T-1하기
df['회계년도'] = df['회계년도']-1

In [441]:
회생_df

      번호      회사명   거래소코드  회계년도                     공시제목
0      1     대한해운    5880  2011                 회생절차개시결정
2      3      씨모텍   81090  2011                 회생절차개시결정
3      4     에피밸리   68630  2011                 회생절차개시결정
5      6     큐앤에스   52880  2011                 회생절차개시결정
7      8     동양건설    5900  2011                 회생절차개시결정
..   ...      ...     ...   ...                      ...
255   90   매직마이크로  127160  2022                 회생절차개시결정
260   95    코원플레이   56000  2022              회생절차개시결정[정]
262   97  비엔디생활건강  215050  2022                회생절차 개시결정
264  100    엘아이에스  138690  2022  주권매매거래정지기간변경(회생절차 개시결정)
266  101    지나인제약   78650  2022                 회생절차개시결정

[114 rows x 5 columns]

In [442]:
# 공시제목열 값 통일 시키기
회생_df['공시제목'] = "회생절차개시결정"

In [443]:
회생_df.loc[회생_df['거래소코드'] == 189700]

     번호    회사명   거래소코드  회계년도      공시제목
111   2  디피앤케이  189700  2017  회생절차개시결정

In [444]:
회생_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 266
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      114 non-null    int64
 1   회사명     114 non-null    object
 2   거래소코드   114 non-null    int64
 3   회계년도    114 non-null    object
 4   공시제목    114 non-null    object
dtypes: int64(2), object(3)
memory usage: 5.3+ KB

In [445]:
# 회생개시되고 바로 상폐되는 경우 포함 Y=Y-1하기
회생_df['회계년도'] = 회생_df['회계년도'].astype(int)
회생_df.loc[회생_df['거래소코드'] == 189700, '회계년도'] = 회생_df.loc[회생_df['거래소코드'] == 189700, '회계년도'] - 1
회생_df.loc[회생_df['거래소코드'] == 36260, '회계년도'] = 회생_df.loc[회생_df['거래소코드'] == 36260, '회계년도'] - 1
회생_df.loc[회생_df['거래소코드'] == 260490, '회계년도'] = 회생_df.loc[회생_df['거래소코드'] == 260490, '회계년도'] - 1
회생_df.loc[회생_df['거래소코드'] == 82220, '회계년도'] = 회생_df.loc[회생_df['거래소코드'] == 82220, '회계년도'] - 1
회생_df.loc[회생_df['거래소코드'] == 420, '회계년도'] = 회생_df.loc[회생_df['거래소코드'] == 420, '회계년도'] - 1
회생_df.loc[회생_df['거래소코드'] == 117930, '회계년도'] = 회생_df.loc[회생_df['거래소코드'] == 117930, '회계년도'] - 1

In [446]:
회생_df.loc[회생_df['거래소코드'] == 189700]

     번호    회사명   거래소코드  회계년도      공시제목
111   2  디피앤케이  189700  2016  회생절차개시결정

In [447]:
df

,번호,회사명,거래소코드,회계년도,공시제목
9,651,참존글로벌,158310,2021,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지기준에 해당한다고 결정
10,650,레드로버,60300,2021,기업의 계속성 및 경영의 투명성 등을 종합적을 고려하여 상장폐지기준에 해당한다고 결정
13,647,뉴로스,126870,2021,감사의견 거절(감사범위 제한 및 계속기업 존속능력 불확실성)
17,643,테라셈,182690,2021,감사의견 거절(감사범위 제한)
21,639,매직마이크로,127160,2021,감사의견 거절(감사범위 제한 및 계속기업 존속능력 불확실성)
...,...,...,...,...,...
647,13,경윤하이드로,19120,2010,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정
652,8,핸디소프트,32380,2010,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정
654,6,에스브이에이치,46240,2010,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지 기준에 해당한다고 결정
655,5,세실,84450,2010,감사의견거절(범위제한 및 계속기업 존속 불확실성)
657,3,네이쳐글로벌,88020,2010,"기업의 계속성, 경영의 투명성 또는 기타 코스닥시장의 건전성 등을 종합적으로 고려하..."

In [448]:
# 데이터프레임
df_concat = pd.concat([df, 회생_df], axis=0)

In [449]:
# 회계년도 기준 오름차순해주기
df_concat = df_concat.sort_values(by='회계년도', ascending=True)

In [450]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 598 to 266
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      387 non-null    int64
 1   회사명     387 non-null    object
 2   거래소코드   387 non-null    int64
 3   회계년도    387 non-null    int64
 4   공시제목    387 non-null    object
dtypes: int64(3), object(2)
memory usage: 18.1+ KB

## 회생기업과 상장폐지기업 겹치는 경우 삭제

In [451]:
df_concat

      번호      회사명   거래소코드  회계년도                                      공시제목
598   62    대양글로벌   40180  2010                           감사의견거절(감사범위 제한)
627   33     콜마파마   38710  2010            감사의견거절(계속기업으로서의 존속능력에 대한 불확실성)
626   34    나이스메탈   72530  2010  감사의견거절(감사범위 제한 및 계속기업으로서의 존속능력에 대한 불확실성)
625   35      디패션   30420  2010                                  감사의견 부적정
624   36       훈영   17170  2010                                 감사의견 의견거절
..   ...      ...     ...   ...                                       ...
239   74  에스에이치엔엘   50320  2022                                  회생절차개시결정
235   70      코스온   69110  2022                                  회생절차개시결정
264  100    엘아이에스  138690  2022                                  회생절차개시결정
245   80     제이웨이   58420  2022                                  회생절차개시결정
266  101    지나인제약   78650  2022                                  회생절차개시결정

[387 rows x 5 columns]

In [452]:
df_concat = df_concat.drop_duplicates(['거래소코드'])

In [453]:
df_concat

      번호    회사명   거래소코드  회계년도                                      공시제목
598   62  대양글로벌   40180  2010                           감사의견거절(감사범위 제한)
627   33   콜마파마   38710  2010            감사의견거절(계속기업으로서의 존속능력에 대한 불확실성)
626   34  나이스메탈   72530  2010  감사의견거절(감사범위 제한 및 계속기업으로서의 존속능력에 대한 불확실성)
625   35    디패션   30420  2010                                  감사의견 부적정
624   36     훈영   17170  2010                                 감사의견 의견거절
..   ...    ...     ...   ...                                       ...
242   77  좋은사람들   33340  2022                                  회생절차개시결정
235   70    코스온   69110  2022                                  회생절차개시결정
264  100  엘아이에스  138690  2022                                  회생절차개시결정
245   80   제이웨이   58420  2022                                  회생절차개시결정
266  101  지나인제약   78650  2022                                  회생절차개시결정

[331 rows x 5 columns]

In [454]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 598 to 266
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      331 non-null    int64
 1   회사명     331 non-null    object
 2   거래소코드   331 non-null    int64
 3   회계년도    331 non-null    int64
 4   공시제목    331 non-null    object
dtypes: int64(3), object(2)
memory usage: 15.5+ KB

In [455]:
df_concat['회계년도'] = df_concat['회계년도'].astype(object)

C:\Users\신민경\AppData\Local\Temp\ipykernel_104992\930978317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat['회계년도'] = df_concat['회계년도'].astype(object)

In [456]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 598 to 266
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      331 non-null    int64
 1   회사명     331 non-null    object
 2   거래소코드   331 non-null    int64
 3   회계년도    331 non-null    object
 4   공시제목    331 non-null    object
dtypes: int64(2), object(3)
memory usage: 15.5+ KB

In [457]:
df_concat.to_csv('y값최종.csv', encoding='utf-8-sig')

## 코스닥 확인하기

In [458]:
df_수익 = pd.read_csv('./datasets/코스닥/코스닥 수익성.csv',encoding='cp949')

In [459]:
df_수익.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15617 entries, 0 to 15616
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   회사명                 15617 non-null  object
 1   거래소코드               15617 non-null  int64
 2   회계년도                15617 non-null  object
 3   총자본정상영업이익률(IFRS)    13566 non-null  float64
 4   자기자본순이익률(IFRS)      13566 non-null  float64
 5   총자본순이익률(IFRS)       13566 non-null  float64
 6   매출액총이익률(IFRS)       13566 non-null  float64
 7   금융비용부담률(IFRS)       13566 non-null  float64
 8   경영자본순이익률(IFRS)      13566 non-null  float64
 9   총자본정상영업이익률(IFRS연결)  10006 non-null  float64
 10  자기자본순이익률(IFRS연결)    10006 non-null  float64
 11  총자본순이익률(IFRS연결)     10006 non-null  float64
 12  매출액총이익률(IFRS연결)     10006 non-null  float64
 13  금융비용부담률(IFRS연결)     10006 non-null  float64
 14  경영자본순이익률(IFRS연결)    10006 non-null  float64
dtypes: float64(12), int64(1), object(2)
memory usage: 1.8+ MB

In [460]:
df_수익.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15617 entries, 0 to 15616
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   회사명                 15617 non-null  object
 1   거래소코드               15617 non-null  int64
 2   회계년도                15617 non-null  object
 3   총자본정상영업이익률(IFRS)    13566 non-null  float64
 4   자기자본순이익률(IFRS)      13566 non-null  float64
 5   총자본순이익률(IFRS)       13566 non-null  float64
 6   매출액총이익률(IFRS)       13566 non-null  float64
 7   금융비용부담률(IFRS)       13566 non-null  float64
 8   경영자본순이익률(IFRS)      13566 non-null  float64
 9   총자본정상영업이익률(IFRS연결)  10006 non-null  float64
 10  자기자본순이익률(IFRS연결)    10006 non-null  float64
 11  총자본순이익률(IFRS연결)     10006 non-null  float64
 12  매출액총이익률(IFRS연결)     10006 non-null  float64
 13  금융비용부담률(IFRS연결)     10006 non-null  float64
 14  경영자본순이익률(IFRS연결)    10006 non-null  float64
dtypes: float64(12), int64(1), object(2)
memory usage: 1.8+ MB

In [461]:
df_수익["회계년도"] = df_수익["회계년도"].map(change_year)

In [462]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 598 to 266
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      331 non-null    int64
 1   회사명     331 non-null    object
 2   거래소코드   331 non-null    int64
 3   회계년도    331 non-null    object
 4   공시제목    331 non-null    object
dtypes: int64(2), object(3)
memory usage: 15.5+ KB

In [463]:
df_merge = pd.merge(df_수익,df_concat,on=['거래소코드','회계년도'],how='left')

In [464]:
df_merge.to_csv('코스닥.csv', encoding='utf-8-sig')

## 코스피 확인하기

In [465]:
df_수익1 = pd.read_csv('./datasets/코스피/코스피수익성.csv',encoding='cp949')

In [466]:
df_수익1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8011 entries, 0 to 8010
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   회사명                 8011 non-null   object
 1   거래소코드               8011 non-null   int64
 2   회계년도                8011 non-null   object
 3   총자본정상영업이익률(IFRS)    7773 non-null   float64
 4   자기자본순이익률(IFRS)      7773 non-null   float64
 5   총자본순이익률(IFRS)       7773 non-null   float64
 6   매출액총이익률(IFRS)       7773 non-null   float64
 7   금융비용부담률(IFRS)       7773 non-null   float64
 8   경영자본순이익률(IFRS)      7773 non-null   float64
 9   총자본정상영업이익률(IFRS연결)  6449 non-null   float64
 10  자기자본순이익률(IFRS연결)    6449 non-null   float64
 11  총자본순이익률(IFRS연결)     6449 non-null   float64
 12  매출액총이익률(IFRS연결)     6449 non-null   float64
 13  금융손익비율(IFRS연결)      6449 non-null   float64
 14  경영자본순이익률(IFRS연결)    6449 non-null   float64
dtypes: float64(12), int64(1), object(2)
memory usage: 938.9+ KB

In [467]:
df_수익1["회계년도"] = df_수익1["회계년도"].map(change_year)

In [468]:
df_merge = pd.merge(df_수익1,df_concat,on=['거래소코드','회계년도'],how='left')

In [469]:
df_merge.to_csv('코스피.csv', encoding='utf-8-sig')